*{
    margin: 0;
    padding: 0;
}

html, body {margin: 0; height: 100%; overflow: hidden}
/* html::-webkit-scrollbar {
    display: none;
} */

body {
    background: rgb(0,31,40);
    background: linear-gradient(180deg, rgba(0,31,40,1) 35%, rgba(5,51,59,1) 58%, rgba(0,0,0,1) 100%);

    height: 100%;
    scroll-behavior: smooth;
    transition: 0.3s;
    animation: body_background ease-out infinite;
}

@keyframes body_background{
    from {background: rgb(0,31,40);
          background: linear-gradient(180deg, rgba(0,31,40,1) 35%, rgba(5,51,59,1) 58%, rgba(0,0,0,1) 100%);
    }

    to {background: rgb(255,128,0);
        background: linear-gradient(0deg, rgba(255,128,0,1) 0%, rgba(255,116,20,1) 58%, rgba(158,82,0,1) 100%);}
}




.start{
    width: 100%;
    height: 100vh;
    background: rgb(0,31,40);
    background: linear-gradient(0deg, rgba(0,31,40,1) 0%, rgba(36,125,144,1) 50%, rgba(29,160,166,1) 100%);
   
    display: grid;
    justify-content: center;
    align-items: center;

}

.start h1 {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
    color: rgb(207, 207, 207);
    text-transform: uppercase;
}

.start a{
    position: relative;
    bottom: -40%;
}

.start img{
    position: relative;
    left: 50%;
    bottom: -50%;
    animation: flecha 2s ease-out infinite;
    filter: invert(1);


}

@keyframes flecha{
    25%{transform: translateY(10px);}
}


.section2 a{
    position: relative;
    top: 10%;
}


.section2 img{
    position: relative;
    left: 50%;
    bottom: -40%;
    animation: flecha1 2s ease-out infinite;
    filter: invert(1);


}

@keyframes flecha1{
     25%{transform: translateY(10px);}
}

.circulo-Like{
    fill: rgb(55, 79, 241);
}

.mano-Like {
    fill: aliceblue;
    transform-origin: left bottom;
    animation: like 2s ease-out infinite;
}


@keyframes like{
    25% {transform:rotate(2deg)}
    
    /* 45% {transform:rotate(-2deg) translateY(-5px)} */
    50% {transform:rotate(-2deg) translateY(-5px)}
    
    /* 60% {transform:rotate(-2deg) translateY(-5px)} */

    75% {transform:rotate(0deg)}
    
}

.circulo-Corazon {
    fill: rgb(255, 65, 65);
}

.corazon-Corazon{
    fill: aliceblue;
    transform-origin: center center;
    animation: corazon 2s ease-out infinite;    
}


@keyframes corazon{
    25% {transform:scale(1.1)}
    /* 45% {transform:scale(1.5)} */
    50% {transform:scale(1)}
    75% {transform:scale(1.1)}
    /* 25%{transform: scale(5px);} */
}

.circulo-Feliz{
    fill: rgb(242, 242, 0);
}

.ojos-emoji{
    fill: none;
    stroke: black;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform-origin:center center ;
    animation: ojo-emo 2s ease-out infinite;
}

@keyframes ojo-emo{
    25%, 75%{transform:translateY(-10px)}
    50% {transform:rotate(-2deg) translateY(-5px)}
    /* 75% {transform:rotate(0deg)} */
    
}



.lengua-emoji{
    fill: red;
    transform-origin:center center ;

    animation: lengua-emo 2s ease-out infinite;
}


@keyframes lengua-emo{
    25%, 75%{transform:translateY(-10px)}
    50% {transform:rotate(-2deg) translateY(-5px)}
    /* 75% {transform:rotate(0deg)} */
    
}


.fondoboca-emojifeliz{
    fill: black;
    transform-origin:center center ;
    animation: fondoboca-emoji 2s ease-out infinite;

}

@keyframes fondoboca-emoji{
    25%, 75%{transform:translateY(-10px)}
    50% {transform:rotate(-2deg) translateY(-5px)}
    /* 75% {transform:rotate(0deg)} */
    
}

.containerEmojis{
    width: 800px;
    height: 90vh;
    display: flex;
    margin: 1em auto;
}