*{
    margin: 0;
    padding: 0;
}


body, html {
    
    height: 100%;
}

h1{
    font-family: Georgia;
    color: antiquewhite;
    
}



.main{
    width: 100%;
    height: 100%;
    background-image:url(./assets/img/background.jpeg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    

}


.main div{
    width: 250px;
    height: 250px;
    position: relative;
    left: 30vh;
    margin-left: 10px;  
    display: flex;
    float: left;  
    

}

.box-1{
    border:5px solid aliceblue;
    position: relative;
    top: 10vh;
    
    
    
}

.box-2{
    /* width: auto;
    height: 250px; */
    border:5px solid aliceblue;
    position: relative;
    top: 10vh;
    left: 5vh;
    
}

.box-3{
    /* width: auto;
    height: 250px; */
    border:5px solid aliceblue;
    position: relative;
    top: 10vh;
    left: 5vh;
    
}
.box-4{
    /* width: auto;
    height: 250px; */
    border:5px solid aliceblue;
    position: relative;
    top: 10vh;
    left: 5vh;
    
}

div input{
    width: 100%;
    cursor: pointer;
    
}

input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: black;
    border: 1px solid white;


}

input:hover{
    background: none;
    border: 5px solid antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: bisque;
    font-size: 24px;
    transition: 0.4s;
    translate: 0, -20px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

section div .show{
    display: grid;
    justify-content: center;
    align-items: center;


}

.show{
    margin: 0px 0px 0px 0px;
    border: 5px solid antiquewhite;
    width: 90%;
    height: 250px;
    position: relative;
    left: 5%;
    top: 20%;
    /* margin-left: 10px;  */
    overflow: hidden;
    display: grid;
    justify-content: center;
      
}


#bigpic{
    width: 500px;
    height: auto;
    object-fit: cover;
    
}

#bigpic:hover{
    border: 5px solid rgba(247, 213, 169, 0.2);
    transition: 0.4s;
}

#video{
    width: 500px;
    height: auto;
    object-fit: cover;
}



#subtitle{
    width: 500px;
    height: auto;
    object-fit: cover;
}


